body {
    background : #f2f2f2;
    margin: 0;
    padding: 0;
}

.page {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 200px;
}

.page img {
    width: 100%;
    height: 100%;
}

.content img {
    width: 20%;
    height: 20%;
}

h1 {
    text-align: center;
    color: #6A9DF5;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

.secret {
    display : flex;
    margin: auto;
}